<mat-table #table [dataSource]="myDataArray" class="mat-elevation-z8">
   <ng-container matColumnDef="userName">
     <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
     <mat-cell *matCellDef="let user"><div> {{user.userName}} </div></mat-cell>
   </ng-container>
   <ng-container matColumnDef="age">
     <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
     <mat-cell *matCellDef="let user"><div> {{user.age}} </div></mat-cell>
   </ng-container>
   <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
   <mat-row *matRowDef="let dataSource; columns: columnsToDisplay;"></mat-row>
 </mat-table>
 <p>
   <mat-form-field apparence="legacy">
     <mat-label>Name</mat-label>
     <input matInput [(ngModel)]="newUser.userName" type="text" name="newuserName" id="newuserName" class="form-control">
   </mat-form-field>
 
   <mat-form-field apparence="legacy">
     <mat-label>Age</mat-label>
     <input matInput [(ngModel)]="newUser.age" type="text" name="newuserAge" id="newAge" class="form-control">
   </mat-form-field>
 </p>
 <button mat-button type="button" (click)="addName()">submit</button>
 